@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: NunitoSans, sans-serif;
}

.btn-primary-default svg path{
  stroke: #FAFAFA;
}

.btn-primary-inactive svg path{
  stroke: #7C8DB0;
}

.btn-secondary-destructive svg path{
  stroke: #EB5757;
}

.btn-secondary-default svg path{
  stroke: #605DEC;
}

.btn-tertiary-default svg path{
  stroke: #605DEC;
}

.btn-tertiary-default:hover svg path{
  stroke: #1513A0;
}

.image-transition {
  transition: opacity 0.3s ease-in-out;
}

.gradient-text {
  width: 50%;
  font-size: 96px;
  line-height: 90px;
  font-weight: 800;
  background: linear-gradient(to right, #5194FD,
  #6C53FD, #7F62FD, #777EFD);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
